In [4]:
df = pd.read_csv(r'c:\Jalpa\Data Science UOT\Case Studies\Investment_portfolio\Cust_Invest_data.csv')
#df = pd.read_csv('Cust_Invest_data.csv')
df.head

<bound method NDFrame.head of    Customer_ID                 Asset_Types            Investment_Amounts  \
0   Customer_1         Bonds, Gold, Stocks  46693.31, 40330.82, 17836.22
1   Customer_2  Stocks, Real Estate, Bonds  18351.85, 48591.92, 31063.11
2   Customer_3                Gold, Crypto            46372.42, 28900.68
3   Customer_4  Stocks, Real Estate, Bonds    8083.46, 8058.24, 43781.86
4   Customer_5       Bonds, Stocks, Crypto  34581.79, 30435.21, 19236.64
5   Customer_6         Bonds, Gold, Stocks  22810.36, 35226.06, 18499.87
6   Customer_7                      Stocks                      29193.55
7   Customer_8                 Real Estate                      44638.89
8   Customer_9                 Real Estate                      12098.61
9  Customer_10                 Real Estate                       32525.5

                Current_Values                     Investment_Date
0   35567.26, 44512.46, 223.29  2023-11-27, 2024-02-05, 2024-05-23
1    694.05, 8144.09, 37129.77  2023-01-15, 2020-05-04, 2024-03-11
2            9406.13, 96726.23              2020-04-26, 2022-11-06
3    160.8, 37698.55, 39065.98  2022-04-06, 2020-09-02, 2024-12-28
4  44390.55, 416.525, 96726.23  2021-06-18, 2021-02-22, 2023-10-03
5    5512.35, 39163.76, 498.24  2021-10-09, 2024-03-19, 2020-05-28
6                       109.61                          2022-11-02
7                     18435.64                          2024-12-05
8                     34876.99                          2024-09-03
9                      40968.7                          2024-07-10  >

Now, need to separate each row in df so that each asset type gets its own row instead of being combined in a single row per customer. This can be achieve by exploding the multi-asset columns.

In [17]:
import pandas as pd

# Function to split and explode multi-asset data
def separate_assets(df):
    df_expanded = df.copy()
    
    # Split columns with multiple values into lists
    df_expanded["Asset_Types"] = df_expanded["Asset_Types"].str.split(", ")
    df_expanded["Investment_Amounts"] = df_expanded["Investment_Amounts"].str.split(", ")
    df_expanded["Current_Values"] = df_expanded["Current_Values"].str.split(", ")
    df_expanded["Investment_Date"] = df_expanded["Investment_Date"].str.split(", ")
    
    # Explode the DataFrame to create separate rows per asset type
    df_expanded = df_expanded.explode(["Asset_Types", "Investment_Amounts", "Current_Values", "Investment_Date"])

    # Convert Investment_Amounts and Current_Values to float
    df_expanded["Investment_Amounts"] = df_expanded["Investment_Amounts"].astype(float)
    df_expanded["Current_Values"] = df_expanded["Current_Values"].astype(float)

    
    return df_expanded.reset_index(drop=True)

# Apply transformation
df_separated = separate_assets(df)
print(df_separated)

    Customer_ID  Asset_Types  Investment_Amounts  Current_Values  \
0    Customer_1        Bonds            46693.31       35567.260
1    Customer_1         Gold            40330.82       44512.460
2    Customer_1       Stocks            17836.22         223.290
3    Customer_2       Stocks            18351.85         694.050
4    Customer_2  Real Estate            48591.92        8144.090
5    Customer_2        Bonds            31063.11       37129.770
6    Customer_3         Gold            46372.42        9406.130
7    Customer_3       Crypto            28900.68       96726.230
8    Customer_4       Stocks             8083.46         160.800
9    Customer_4  Real Estate             8058.24       37698.550
10   Customer_4        Bonds            43781.86       39065.980
11   Customer_5        Bonds            34581.79       44390.550
12   Customer_5       Stocks            30435.21         416.525
13   Customer_5       Crypto            19236.64       96726.230
14   Customer_6        Bonds            22810.36        5512.350
15   Customer_6         Gold            35226.06       39163.760
16   Customer_6       Stocks            18499.87         498.240
17   Customer_7       Stocks            29193.55         109.610
18   Customer_8  Real Estate            44638.89       18435.640
19   Customer_9  Real Estate            12098.61       34876.990
20  Customer_10  Real Estate            32525.50       40968.700

   Investment_Date
0       2023-11-27
1       2024-02-05
2       2024-05-23
3       2023-01-15
4       2020-05-04
5       2024-03-11
6       2020-04-26
7       2022-11-06
8       2022-04-06
9       2020-09-02
10      2024-12-28
11      2021-06-18
12      2021-02-22
13      2023-10-03
14      2021-10-09
15      2024-03-19
16      2020-05-28
17      2022-11-02
18      2024-12-05
19      2024-09-03
20      2024-07-10

In [18]:
df_separated.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Customer_ID         21 non-null     object
 1   Asset_Types         21 non-null     object
 2   Investment_Amounts  21 non-null     float64
 3   Current_Values      21 non-null     float64
 4   Investment_Date     21 non-null     object
dtypes: float64(2), object(3)
memory usage: 968.0+ bytes

In [14]:
df_separated.columns

Index(['Customer_ID', 'Asset_Types', 'Investment_Amounts', 'Current_Values',
       'Investment_Date'],
      dtype='object')

In [19]:
df_separated.describe()

       Investment_Amounts  Current_Values
count           21.000000       21.000000
mean         29395.731905    28115.581190
std          12882.554325    28817.767785
min           8058.240000      109.610000
25%          18499.870000      694.050000
50%          30435.210000    34876.990000
75%          40330.820000    39163.760000
max          48591.920000    96726.230000

In [20]:
df_data=df_separated

In [31]:
# export to csv
import os
path= os.getcwd()

df_separated.to_csv("TableauData.csv",index=False)